<div id={{ "card-{}"|format(card.id) }}
    class="group relative flex flex-col justify-evenly aspect-[5/3] p-4 shadow shadow-gray-400 rounded-lg">
    <p class="text-lg text-center font-bold">{{ card.front }}</p>
    <p class="text-center">{{ card.back }}</p>

    <div class="absolute bottom-4 right-4 flex gap-2 opacity-0 group-hover:opacity-100 transition">
        <span hx-get={{ "/cards/{}/edit"|format(card.id) }} hx-target={{ "#card-{}"|format(card.id) }} hx-swap="outerHTML"
            class="material-symbols-rounded cursor-pointer hover:text-sky-500 transition">edit</span>
        <span hx-delete={{ "/cards/{}"|format(card.id) }} hx-target={{ "#card-{}"|format(card.id) }} hx-swap="outerHTML"
            class="material-symbols-rounded cursor-pointer hover:text-red-500 transition">delete</span>
    </div>
</div>
