<!DOCTYPE html>
<html lang="en">

<head>
    <title>esby is confused</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/lib/material_symbols.css" />
    <script src="/lib/htmx.min.js"></script>
    <script src="/lib/cdn.twind.style.js" crossorigin></script>
</head>

<body hx-boost="true" class="min-h-screen grid place-content-center gap-8">
    <h1 class="text-3xl text-center font-bold">elephant cards</h1>
    <div class="grid gap-2">
        <h2 class="pb-2 text-xl text-center font-bold">decks</h2>
        <div id="#decks">
            {% for deck in decks %}
                <div hx-get='{{ "/decks/{}"|format(deck.id) }}' hx-target="body" hx-swap="innerHTML" hx-push-url="true"
                    class="flex flex-col justify-evenly aspect-[5/3] shadow shadow-gray-400 rounded-lg cursor-pointer">
                    <p class="text-lg text-center font-bold">{{ deck.name }}</p>
                    <p class="text-center">{{ deck.cards.len() }} cards in deck</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
